{% extends 'base.html' %}
{% load static %}

{% block title %}Блог | {{ block.super }}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://yandex.st/highlightjs/7.2/styles/default.min.css" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="https://yandex.st/highlightjs/7.2/highlight.min.js"></script>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		hljs.tabReplace = '    ';
		$(function() {
			$('pre').each(function(i, e) {
				if(!$(e).parents('.gist').length)
					hljs.highlightBlock(e);
			});
		});
	</script>
{% endblock %}

{% block sidebar %}
	<section class="box">
		<header>RSS</header>
		<a href="{% url 'blog:feed' %}" class="rss">
			<img src="{% static 'img/RSS_Icon.png' %}" alt="RSS" title="Абонирай се за последните статии от блога на Венелин Стойков" />
			<span>Абонирай се за последните статии</span>
		</a>
	</section>
	<section class="box">
		<header>Категории в Блога</header>
		<ul class="blog-categories">
		{% for category in categories %}
			<li><a href="{{ category.get_absolute_url }}">{{ category.title }} ({{ category.entries_count }})</a></li>
		{% empty %}
			<li>Няма категории</li>
		{% endfor %}
		</ul>
	</section>
	{{ block.super }}
{% endblock %}


{% block breadcrumb %}
	{{ block.super }}
	<li><a href="{% url 'blog:index' %}">Статии</a></li>
	{% if category %}<li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>{% endif %}
	{% if entry %}<li><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></li>{% endif %}
{% endblock %}
