/* style.css */
@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic,cyrillic-ext);
html {padding:0px; margin:0px;}
body {
    background-color: #555;
    background-color: #454;
    /*background-image:url(../img/bg_main_old.jpg);*/
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABHNCSVQICAgIfAhkiAAAAB1JREFUCJlj+P//v/z///+5GNABBRLosv///5cHAFlkHrD/0XanAAAAAElFTkSuQmCC);
    /*background-repeat: repeat-x;*/
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: table;
}
div {display: block;}
a{text-decoration:none; color:#151;}
a:visited{text-decoration:none; color:#151;}
a:active{text-decoration:underline; color:#181;}
a:hover{text-decoration:underline; color:#181;}
a img {border: none;}
q {font-style: italic;}
pre {
    border: 1px solid #DEDEDE;
    background: #F8F8FF;
    padding: 10px;
    margin: 10px;
}
pre code {background: #F8F8FF !important;}

.shadow, .article, #body, #footer {
    -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}
.center {text-align: center; text-indent: 0px !important;}
.justify {text-align: justify;}
.content {margin: 0px; padding: 10px;}
.holder {position:relative;}
.flr {float: right;}
.clearfix {clear: both;}

#header {
    margin: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}
#header_logo {
    background-color: green;
    background:url(../img/header_top_bg.gif);
    color: #333;
    height: 85px;
    padding-top: 25px;
}
#header_logo h1 {
    line-height: 60px;
    font-size: 40px;
    color: #EEE;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    margin: 0px auto 20px;
    padding: 0px;
}
#main_menu {
    background-color: #555;
    background-image:url(../img/menu_main.gif);
    color: white;
    position: relative;
    text-align: center;
    width: 100%;
}
#main_menu ul {
    height: 49px;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px 0px 0px 60px;
    width: 900px;
}
#main_menu ul li {
    display: block;
    float: left;
    height: 32px;
    margin: 14px 1px 1px;
    overflow: hidden;
    /*width: 180px;*/
}
/*#main_menu ul li:first-child{border-left:1px solid #777;}*/

#main_menu li{
    background-color:#999;
    background-image:url(../img/menu_button.gif);
    /*border-left: 1px solid #DDD;
    border-right: 1px solid #222;*/
    /*border-top: 0px solid #DDD;
    border-bottom: 0px solid #222;*/
}
#main_menu li.ui-tabs-selected {
    background-color:#999;
    background-image:url(../img/menu_button_down.gif);
    border: 1px inset #BBB;
    margin-left: 0px;
    margin-right: 0px;
    /*border-left: 1px solid #333;
    border-right: 1px solid #AAA;*/
    /*border-top: 0px solid #555;
    border-bottom: 0px solid #FFF;*/
}
#main_menu li:hover {
    border: 1px outset #BBB;
    margin-left: 0px;
    margin-right: 0px;
}

#main_menu li a {
    display: block;
    color: #EEE;
    line-height: 32px;
    width:100px;
    text-align: center;
    text-shadow: #090 1px 1px 1px;
    font-size: 15px;
    font-weight: bold;
    margin:0px;
    padding:0px 20px;
}
#main_menu li a:hover {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #FFF;
    text-shadow: #333 1px 1px 1px;
    /*outline: 2px solid #060;
    outline-offset: -2px;*/
}
#main_menu li a:hover span {position: relative; top: -2px; left: -1px;}
#main_menu li.ui-tabs-selected a {color:#DDD; text-shadow: #545 1px 1px 1px;}
#main_menu li.ui-tabs-selected a span {position: relative; top: 1px; left: 1px;}
/*#main_menu ul li a span{ width:100px;height:24px;}*/

#body {
    display: table;
    margin: 20px auto;
    padding: 10px;
    width: 900px;
    background-color: rgba(150, 150, 150, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

h1 {
    margin: 0px auto;
    padding: 5px;
    text-align: center;
}

.left_column, .main_content, {
    position:relative;
    padding: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.left_column {
    width: 180px;
    float: left;
    margin-right: 10px;
}
.main_content {
    margin-bottom: 10px;
    float: right;
    /*color:black;*/
    min-height: 300px;
    width: 700px;
}

.left_column .article {
    background-color: #AAA;
    padding: 5px;
    margin: 0px 0px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 50px;
}
.main_content .article {
    background-color: #BBB;
    padding: 0px 0px 10px;
    margin: 0px 0px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.article .header {
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    margin: 0px 0px 5px;
    padding: 4px 0px 2px 10px;
    background-color: #050;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.main_content .article .header {
    background-color: #060;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.left_column .article p {padding:5px; text-indent: 20px;}

.main_content .article p {margin: 5px 10px; text-indent: 20px;}
 .main_content .article .img_holder {width: 200px; min-height: 280px; float: left; margin: 10px; padding: 2px;}
  .main_content .article .img_holder img {width: 200px; height: 275px;}


#footer {
    clear: both;
    width: 900px;
    margin: 10px auto;
    padding: 0px 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    background: rgba(150, 150, 150, 0.4);
    color: #DDD;
    display: table;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#footer p {float: right; line-height: 25px; margin: 10px; }

.ui-tabs-hide {display: none}
.ui-tabs-panel{padding:0px;}

div.content {display: table; /*width: 100%;*/}

dl.links {margin-left: 20px;}
dl.links dt {font-size: 1.2em; font-weight: bolder;}
.links a {margin: 10px; display: block;}
.links a span {color: #000;}
.links a dd {margin-left: 0px;}
.links a:hover {text-decoration:none;}

#gallery .content {width: 650px;}
.gallery {overflow:hidden; clear: both; margin: 0px; padding: 15px;}
.gallery li {list-style: none; float: left; margin: 10px; width: 130px; text-align: center;}
.gallery .thumb-holder {width: 130px; height: 100px; display: block;}
.gallery li p {text-align: center; margin-top: 10px;}
.backToGalleries {float: right; margin-bottom: 15px;}

dl.blog {margin: 0px 5px;}
dl.blog dt {padding-top: 15px; font-size: 1.5em;}
dl.blog dt small {font-size: 0.6em;}
ul.blog-categories {padding-left: 33px;}
ul.blog-categories li {margin-left: 0px; list-style-type: none;}
ul.blog-categories li:before {content: ">>";} 

.gist {width: 650px;}

a.rss {display: block; height: 64px;}
a.rss img {float: left;}
a.rss span { display: block; padding-top: 10px; font-size: 12px;}

.g-plusone-holder {float: right; position: relative; top: -8px;}
