*.pyc
*.pid
*.mo
*.sock
*.geany
*.sublime*
*.e4p
*.eric4project
*.anjuta*
*.egg-info
*.nja
.project
.pydevproject
.idea
.ropeproject
.tox
.git*
.vscode
.eggs
.env
.venv
.pytest*
__pycache__
site.db
/venelin/settings/local.py
/virtenv
/www
/wsgi
/tags
/build
/dist
compose.yaml
Procfile
Dockerfile
/*.zip
