*.pyc
*.pid
*.mo
*.sock
*.geany
*.sublime*
*.e4p
*.eric4project
*.anjuta*
*.egg-info
*.nja
*.swp
.project
.pydevproject
.idea
.ropeproject
.tox
.vscode
.eggs
.env
.pytest*
.google-auth.json
__pycache__
site.db
/venelin/settings/local.py
/virtenv
/www/
/tags
/build
/dist
/wsgi
