name: venko-django-site

services:
  web:
    image: ghcr.io/vstoykov/venko-django-site:latest
    container_name: ${COMPOSE_PROJECT_NAME}
    build:
      context: .
      dockerfile: Dockerfile
    develop:
      watch:
        - path: ./Dockerfile
          action: rebuild
        - path: ./uv.lock
          action: rebuild
        - path: ./uwsgi.ini
          target: /app/uwsgi.ini
          action: sync+restart
        - path: ./runserver
          target: /app/runserver
          action: sync+restart
        - path: ./venelin
          target: /app/venelin
          action: sync+restart
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 512M
        reservations:
          cpus: "0.01"
          memory: 250M
    ulimits:
      nofile:
        soft: 1024
        hard: 1024
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./www/media:/app/www/media:rw,z
      - ./venelin/settings/local.py:/app/venelin/settings/local.py:ro,z
      - ./.google-auth.json:/app/.google-auth.json:ro,z
    env_file:
      - .env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/.google-auth.json
