services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./Dockerfile
        - action: rebuild
          path: ./uv.lock
        - action: sync
          path: ./uwsgi.ini
          target: /app/uwsgi.ini
        - action: sync
          path: ./venelin
          target: /app/venelin
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 512M
        reservations:
          cpus: "0.01"
          memory: 128M
    ulimits:
      nofile:
        soft: 1024
        hard: 1024
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./www/media:/app/www/media:rw,z
      - ./uwsgi.ini:/app/uwsgi.ini:ro,z
      - ./venelin/settings/local.py:/app/venelin/settings/local.py:ro,z
      - ./.google-auth.json:/app/.google-auth.json:ro,z
    env_file:
      - .env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/.google-auth.json
