services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./Dockerfile
        - action: rebuild
          path: ./uv.lock
        - action: sync
          path: ./uwsgi.ini
          target: /app/uwsgi.ini
        - action: sync
          path: ./venelin
          target: /app/venelin
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 384M
        reservations:
          cpus: "0.01"
          memory: 128M
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./site.db:/app/site.db:rw
      - ./www/media:/app/www/media:rw
      - ./venelin/settings/local.py:/app/venelin/settings/local.py:ro
    environment:
      - DJANGO_ENV=staging
      - DEBUG=false
      - DJANGO_SECRET_KEY=4*%f8=to$%4^pwi6jtlld0p$=d*&h4+vhye*^!oby*!p00bz3b
