Django==1.8.6
Pillow==3.0.0
django-extensions==1.5.9
django-ckeditor==4.5.1
django-appconf>=1.0.1
django-imagekit>=3.2.6
django-wpadmin==1.7.4
Pygments
appenlight-client==0.6.14
dj-database-url==0.3.0
