Django==1.7.1
Pillow==2.6.1
django-extensions>=1.4.9
django-ckeditor-updated==4.4.4
django-imagekit>=3.2.1
django-wpadmin==1.7.0
pygments
appenlight-client==0.6.12
dj-database-url==0.3.0
git+https://github.com/vstoykov/django-bmemcached.git@080967905e8ec51a72b208b2dd2143a3b898d061egg=django_bmemcached==0.2.2
