{% extends "base.html" %}

{% block title %}Галерия | {{ block.super }}{% endblock %}

{% block seo_tags %}
	<meta name="keywords" content="Венелин, Стойков, Галерия, Снимки, венелин, стойков, галерия, снимки"/>
	<meta name="description" content="{% if gallery %}Галерия {{ gallery.title }}{% else %}Списък с галерии{% endif %} на Венелин Стойков"/>
{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a href="/gallery/">Галерия</a></li>
	{% if gallery %}<li><a href="{{ gallery.get_absolute_url }}">{{ gallery }}</a></li>{% endif %}
{% endblock %}

{% block header %}
	{{ block.super }}
	<h1>{{ gallery.title|default:"Галерия" }}</h1>
{% endblock %}
