{% extends "gallery_base.html" %}
{% load static %}

{% block title %}{{ gallery.title }} | {{ block.super }}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.9.0/css/lightgallery-bundle.min.css"
				integrity="sha384-AUmhf+zg8vrhkZH0O111/sCNYxErcXd/kwycW8/P2Zpo7IGF1+DGfcW/ioM8FEUz" crossorigin="anonymous">
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.9.0/lightgallery.umd.min.js"
	        integrity="sha384-51JdG5HSmEa0MvKgatGJz3WSfDPwuhzV0X+ckhZ09t1zYUL7yC8/Pi+iU7fXCtZa"
					crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript">
	(function onDOMReady(callback){
		if (document.addEventListener){document.addEventListener('DOMContentLoaded', callback)}
		else if (window.attachEvent){window.attachEvent('onload', callback)}
		else {callback()}
	})(function(){
		lightGallery(document.getElementById('gallery_list'), {
			selector: 'figure > a',
			download: false
		});
	});
	</script>
{% endblock %}


{% block content %}
	{{ block.super }}
	<section id="gallery_list" class="gallery">
		{% for picture in gallery.pictures.all %}
			<figure>
				<a href="{{ picture.image.url }}" title="{{ picture.title }}">
					<img src="{{ picture.thumb.url }}" width="{{ picture.thumb.width }}" height="{{ picture.thumb.height }}" alt="{{ picture.title }}" onload="this.className = 'shadow'"/>
					{% comment %} <figcaption>{{picture.title}}</figcaption> {% endcomment %}
				</a>
			</figure>
		{% empty %}
			<p>Няма качени снимки<p>
		{% endfor %}
	</section>
{% endblock %}
