{% extends "gallery_base.html" %}
{% load static %}

{% block title %}{{ gallery.title }} | {{ block.super }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'lightgallery/css/lightgallery.min.css' %}" media="all" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'lightgallery/js/lightgallery.min.js' %}"></script>
	<!--script type="text/javascript" src="{% static 'js/gallery.js' %}"></script-->
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript">
	(function onDOMReady(callback){
		if (document.addEventListener){document.addEventListener('DOMContentLoaded', callback)}
		else if (window.attachEvent){window.attachEvent('onload', callback)}
		else {callback()}
	})(function(){
		lightGallery(document.getElementById('gallery_list'), {
			selector: 'figure > a',
			download: false
			});
		});
	</script>
    <script type="text/javascript">
      window.___gcfg = {lang: 'bg'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
{% endblock %}

{% block header %}
	<div class="g-plusone-holder"><div class="g-plusone"></div></div>
	{{ block.super }}
{% endblock %}

{% block content %}
	{{ block.super }}
	<section id="gallery_list" class="gallery">
		{% for picture in gallery.pictures.all %}
			<figure>
				<a href="{{ picture.image.url }}" title="{{ picture.title }}">
					<img src="{{ picture.thumb.url }}" width="{{ picture.thumb.width }}" height="{{ picture.thumb.height }}" alt="{{ picture.title }}" onload="this.className = 'shadow'"/>
					{% comment %} <figcaption>{{picture.title}}</figcaption> {% endcomment %}
				</a>
			</figure>
		{% empty %}
			<p>Няма качени снимки<p>
		{% endfor %}
	</section>
{% endblock %}
