{% extends "gallery_base.html" %}
{% load staticfiles %}

{% block title %}{{ gallery.title }} | {{ block.super }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.lightbox-0.5.css' %}" media="all" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/jquery.lightbox-0.5.min.js' %}"></script>
	<!--script type="text/javascript" src="{% static 'js/gallery.js' %}"></script-->
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript">
		$(function() {
			$("#gallery_list a").lightBox({
				imageLoading: '{% static "img/lightbox/loading.gif" %}',
				imageBtnClose: '{% static "img/lightbox/close.gif" %}',
				imageBtnPrev: '{% static "img/lightbox/prev.gif" %}',
				imageBtnNext: '{% static "img/lightbox/next.gif" %}',
				imageBlank: '{% static "img/lightbox/blank.gif" %}',
			});
		});
	</script>
    <script type="text/javascript">
      window.___gcfg = {lang: 'bg'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
{% endblock %}

{% block header %}
	<div class="g-plusone-holder"><div class="g-plusone"></div></div>
	{{ block.super }}
{% endblock %}

{% block content %}
	{{ block.super }}
	<section id="gallery_list" class="gallery">
		{% for picture in gallery.pictures.all %}
			<figure>
				<a href="{{ picture.image.url }}" title="{{ picture.title }}">
					<img src="{{ picture.thumb.url }}" width="{{ picture.thumb.width }}" height="{{ picture.thumb.height }}" alt="{{ picture.title }}" />
					<!--figcaption>{{picture.title}}</figcaption-->
				</a>
			</figure>
		{% empty %}
			<p>Няма качени снимки<p>
		{% endfor %}
	</section>
{% endblock %}
