{% extends "gallery_base.html" %}

{% block content %}
	{{ block.super }}
	<section class="gallery">
		{% for gallery in galleries %}
			<figure>
				<a href="{{ gallery.get_absolute_url }}" name="{{ gallery.slug }}">
					<span class="thumb-holder"><img src="{{ gallery.get_thumbnail_url }}" alt="{{ gallery.title }}" onload="this.className = 'shadow'"/></span>
					<figcaption>{{ gallery.title }}</figcaption>
				</a>
			</figure>
		{% empty %}
			<p>Няма галерии</p>
		{% endfor %}
	</section>
{% endblock %}
