html { 
	padding: 0px;
	margin: 0px;
	height: auto !important;
	background: #CECECE;
}
body {
	background-color: #F0F0F0;
	background-image: url(../img/background.png); 
	color: #303030;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
body:after {
	clear: both;
	display: block;
	content: " ";
	height: 0;
	width: 0;
}

h1 {
	line-height: 2em;
	font-size: 2em;
	color: #007425;
	margin: 0px auto;
	padding: 0 0 8px 0;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

a, a:visited {
	text-decoration:none;
	color:#007425;
}
a:hover, a:active {
	text-decoration:underline;
	color:#008F39;
}
a img { border: none; }

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body > header {
	background: #4D4D4D; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	color: white;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body > header > .wrapper {
	padding: 0 0 2px;
}

body > .wrapper > header {
	font-size: 1.3em;
	padding: 5px 10px;
}

.row-wrapper {
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row-wrapper:after {
	display: block;
	clear: both;
	content: " ";
	width: 0;
	height: 0;
}

@media all and (max-width: 1000px) {
	.row-wrapper > section {
		width: 90%;
		float: none;
	}

	.row-wrapper > aside {
		display: none;
	}
}

@media all and (min-width: 1000px) {
	.row-wrapper > section {
		width: 75%;
		float: left;
	}

	.row-wrapper > aside {
		float: right;
		width: 20%;
		margin-top: 20px;
	}
}

aside > .box {
	background-color: #D9D9D9;
	padding: 8px;
	margin: 0px 0px 10px;
	min-height: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}

aside > .box > header {
	color: white;
	font-size: 15px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
	margin: -9px -8px 5px;
	padding: 4px 0px 2px 10px;
	background-color: #3b5998;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#main-menu ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
#main-menu ul li {
	display: inline-block;
	height: 32px;
	margin: 1px;
}
#main-menu li.current {
	background-color:#999;
	background-image:url(../img/menu_button_down.gif);
	margin-left: 0px;
	margin-right: 0px;
}
#main-menu li a {
	display: inline-block;
	color: #EEE;
	line-height: 32px;
	text-align: center;
	text-shadow: 1px 1px 1px #009;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding: 0px 15px;
}
#main-menu li a:hover {
	text-decoration: none;
	color: #FFF;
	text-shadow: #333 1px 1px 1px;
}
#main-menu li a span {
	position: relative;
	top: -2px;
}
.breadcrumb ul {
	padding: 0;
}
.breadcrumb li {
	display: inline-block;
	margin: 0;
}
.breadcrumb li:after {
	content: "»";
	margin: 0 0 0 2px;
}
.breadcrumb li:last-child:after {
	content: "";
	display: none;
}
.breadcrumb li:last-child a {
	color: #303030;
}

q {font-style: italic;}
pre, code {
	border: 1px solid #DEDEDE;
	background: #F8F8FF;
	font-family: "Lucida Console", Monaco, monospace;
}
pre {
	padding: 10px;
	margin: 10px;
	overflow-x: auto;
}
pre code {background: #F8F8FF !important;}
.gist pre {max-width: none;}
.shadow {
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}
.center {text-align: center; text-indent: 0px !important;}
.justify {text-align: justify;}
.content {margin: 0px; padding: 10px; min-height: 600px;}
.content p {line-height: 20px;}
.holder {position:relative;}
.flr {float: right;}
.clearfix {clear: both;}

.mceContentBody p {margin: 5px 10px; text-indent: 20px;}

footer {
	clear: both;
	width: 100%;
	min-height: 50px;
	margin: 10px auto 0;
	padding: 20px 0;
	text-align: right;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
	background: #CECECE;
	color: #5E5C5C;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer:after {
	clear: both;
	display: block;
	content: " ";
	height: 0;
	width: 0;
}
footer p {float: right; line-height: 25px; margin: 10px; }
footer a, footer a:hover {color: #5E5C5C;}

.ui-tabs-hide {display: none}
.ui-tabs-panel{padding:0px;}

dl.links {margin-left: 20px;}
dl.links dt {font-size: 1.2em; font-weight: bolder;}
.links a {margin: 10px; display: block;}
.links a span {color: #000;}
.links a dd {margin-left: 0px;}
.links a:hover {text-decoration:none;}

.gallery {
	text-align: center;
	margin: 0px;
	padding: 15px;
}
.gallery figure {
	display: inline;
	display: inline-block;
	width: 150px;
	margin: 10px;
	vertical-align: top;
	text-align: center;
}
.gallery .thumb-holder {
	height: 100px;
	display: block;
}


ul.blog-categories {padding-left: 20px;}
ul.blog-categories li {margin-left: 0px; list-style-type: none;}
ul.blog-categories li:before {content: "» ";} 

article.blog {

}
article.blog header {
	font-size: 1.5em;
}

a.rss {display: block; height: 64px;}
a.rss img {float: left;}
a.rss span { display: block; padding-top: 10px; font-size: 12px;}

.g-plusone-holder {float: right; position: relative; top: -8px;}
#google_translate_element {float: right; position: relative; top: 5px; margin-right: 5px;}
.search {float: right; position: relative; top: 5px;}
.search > input[type=text] {width: 20ex;}
.gsc-control-cse.gsc-control-cse-bg {
	min-height: 300px;
	background-color: #F0F0F0;
	background-image: url(../img/background.png);
	border: none;
}

.icon-home {
	background: url(../img/icons/home.png) no-repeat;
	display: inline;
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 20px;
}

