#content .inline-group .tabular tr.has_original td {
    padding-top: 2em;
}

#content .inline-group .tabular tr td.original {
    padding: 2px 0 0;
}

#content .inline-group .tabular tr td.original p {
    height: 1.5em;
    font-size: 10px;
}