{% extends "base.html" %}

{% block title %}Полезни Връзки | {{ block.super }}{% endblock %}

{% block seo_tags %}
	<meta name="keywords" content="полезни, връзки, интересни, bookmarks, Венелин, Стойков"/>
	<meta name="description" content="Полезни Връзки на Венелин Стойков. Тук ще слагам връзки към интересни неща в мрежата, нещо като bookmarks."/>
{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a href="{{ request.path }}">Връзки</a>
{% endblock %}

{% block header %}
	{{ block.super }}
	<h1>Полезни Връзки</h1>
{% endblock %}

{% block content %}
	{{ block.super }}
	<article>
		<p>На това място ще слагам връзки към интересни и полезни неща в мрежата.</p>
		<dl class="links">
			{% regroup links by category as links_list %}
			{% for link_group in links_list %}
				<dt>{{ link_group.grouper }}</dt>
				{% for link in link_group.list %}
				<dd>
					<a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener noreferrer nofollow">
						<span>{{ link.title }}</span> <br/> <small><i>{{ link.url }}</i></small>
					</a>
				</dd>
				{% endfor %}
			{% empty %}
				<h4>Няма връзки!</h4>
			{% endfor %}
		</dl>
	</article>
{% endblock %}
