{% extends 'base.html' %}

{% block title %}Блог | {{block.super}}{% endblock %}

{% block extra_head %}
{{block.super}}
{% with "http://alexgorbatchev.com/pub/sh/current/" as HIGHLIGHTER_MEDIA %}
    <link rel="stylesheet" type="text/css" href="{{HIGHLIGHTER_MEDIA}}styles/shCore.css" />
    <link rel="stylesheet" type="text/css" href="{{HIGHLIGHTER_MEDIA}}styles/shThemeDefault.css" />
    <script type="text/javascript" src="{{HIGHLIGHTER_MEDIA}}scripts/shCore.js"></script>
    <script type="text/javascript" src="{{HIGHLIGHTER_MEDIA}}scripts/shAutoloader.js"></script>
    <script type="text/javascript">
      $(function() {
        SyntaxHighlighter.autoloader(
          [ 'py', 'python', '{{HIGHLIGHTER_MEDIA}}scripts/shBrushPython.js' ],
        );
        SyntaxHighlighter.all();
      });
    </script>
{% endwith %}
{% endblock %}

{% block left_column %}
  <div class="article">
    <h2 class="header">Категории в Блога</h2>
    <ul class="blog-categories">
    {% for category in categories %}
      <li><a href="{% url my_blog_by_cat category.slug %}">{{category.title}} ({{category.entry_set.count}})</a></li>
    {% empty %}
      <li>Няма категории</li>
    {% endfor %}
    </ul>
  </div>
  {{ block.super }}
{% endblock %}


{% block main_content %}
  <div>
      <div class="article">
        <h2 class="header">Блог{% if category %} &gt; {{category.title}}{% endif %}</h2>
        <div class="content">
          {% block blog_content %}{% endblock %}
        </div>
      </div>
  </div>
{% endblock %}
