{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Блог | {{block.super}}{% endblock %}

{% block extra_head %}
	{{block.super}}
	<link rel="stylesheet" href="http://yandex.st/highlightjs/7.2/styles/default.min.css" />
	<script type="text/javascript" src="http://yandex.st/highlightjs/7.2/highlight.min.js"></script>
	<script type="text/javascript">
		hljs.tabReplace = '    ';
		$(function() {
		    $('pre').each(function(i, e) {
		    	if(!$(e).parents('.gist').length)
		    		hljs.highlightBlock(e);
		    });
		});
	</script>
{% endblock %}

{% block left_column %}
	<div class="article">
		<h2 class="header">RSS</h2>
		<a href="{% url 'blog_feed' %}" class="rss">
			<img src="{% static 'img/RSS_Icon.png' %}" alt="RSS" title="Абонирай се за последните статии от блога на Венелин Стойков" />
			<span>Абонирай се за последните статии</span>
		</a>
	</div>
	<div class="article">
		<h2 class="header">Категории в Блога</h2>
		<ul class="blog-categories">
		{% for category in categories %}
			<li><a href="{% url 'my_blog_by_cat' category.slug %}">{{category.title}} ({{category.entries_count}})</a></li>
		{% empty %}
			<li>Няма категории</li>
		{% endfor %}
		</ul>
	</div>
	{{ block.super }}
{% endblock %}


{% block main_content %}
	<div>
		<div class="article">
			<h2 class="header">Блог{% if category %} &gt; {{category.title}}{% endif %}</h2>
			<div class="content">
				{% block blog_content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
