{% extends 'blog/base.html' %}
{% load disqus_tags %}

{% block title %}{{ entry.title }} | {{ entry.category }} | {{ block.super }}{% endblock %}

{% block extra_head %}
	<meta name="keywords" content="{{ entry.seo_keywords }}"/>
	<meta name="description" content="{% if entry.seo_description %}{{ entry.seo_description }}{% else %}Страница от блога на Венелин Стойков - {{ entry.title }} в категория {{ entry.category }}{% endif %}"/>
	{{block.super}}
	{% disqus_dev %}
	<script type="text/javascript">
		var disqus_identifer = "{{entry.get_identifier}}";
		var disqus_title = "{{entry.title|escape}}";
		var disqus_url = "{{request.build_absolute_uri}}";
    </script>
	<script type="text/javascript">
      window.___gcfg = {lang: 'bg'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
{% endblock %}

{% block blog_content %}
    <a href="{{ entry.category.get_absolute_url }}">Виж всички постове от {{ entry.category.title }}</a>
    <div class="g-plusone-holder"><div class="g-plusone"></div></div>
    <hr class="clearfix"/>
	<h2><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
	{{entry.content|safe}}
	<br/>
	<p><small><i>Публикувано на {{ entry.created }}</i></small></p>
	<hr/>
	{% disqus_show_comments %}
{% endblock %}
