{% extends 'blog/base.html' %}
{% load static %}
{% load disqus_tags %}

{% block title %}{{ entry.title }} | {{ entry.category }} | {{ block.super }}{% endblock %}

{% block seo_tags %}
	<meta name="keywords" content="{{ entry.seo_keywords }}"/>
	<meta name="description" content="{{ entry.get_seo_description }}"/>

	<meta property="og:title" content="{{ entry.seo_keywords }}"/>
	<meta property="og:description" content="{{ entry.get_seo_description }}"/>
	<meta property="og:image" content="{% static 'img/RSS_Icon.png' %}"/>
	<link rel="image_src" href="{% static 'img/RSS_Icon.png' %}">
{% endblock %}

{% block header %}
	{{ block.super }}
	<h1><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a></h1>
	<em>Публикувано на <time datetime="{{ entry.created|date:'c' }}">{{ entry.created|date:'j F Y' }}</time></em>
	<div class="g-plusone-holder"><div class="g-plusone"></div></div>
{% endblock %}

{% block content %}
	{{ block.super }}
	<article>
		{{ entry.content|safe }}
	</article>
	{% disqus_show_comments %}
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	{% disqus_dev %}
	<script type="text/javascript">
		var disqus_identifer = "{{ entry.get_identifier }}";
		var disqus_title = "{{ entry.title|escape }}";
		var disqus_url = "{{ request.build_absolute_uri }}";
	</script>
	<script type="text/javascript">
	  window.___gcfg = {lang: '{{ LANGUAGE_CODE }}'};
	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
{% endblock %}
