{% extends 'blog/base.html' %}

{% block title %}{% if category %}{{category}} | {% endif %}{{block.super}}{% endblock %}

{% block extra_head %}
	<meta name="description" content="{% if category %}{{category}} - категория от блога{% else %}Блогът{% endif %} на Венелин Стойков. Това е място за споделяне на моя опит от различни сфери на моите интереси."/>
	{{block.super}}
{% endblock %}


{% block blog_content %}
	{% if category %}<a href="{% url 'my_blog' %}">Виж всички постове</a><hr/>{% endif %}
	<dl class="blog">
		{% for entry in entries %}
			<dt {% if not forloop.first %}class="border_t"{% endif %}><a href="{{ entry.get_absolute_url }}">{{entry.title}}</a><br/><small><i>Публикувано на {{entry.created}}</i></small></dt>
			<dd>
				{{entry.content|safe|truncatewords_html:100}}
				<a href="{{ entry.get_absolute_url }}#disqus_thread">Comments</a>
			</dd>
		{% empty %}
			<dt>Няма статии в тази категория</dt><dd></dd>
		{% endfor %}
	</dl>
	{% load disqus_tags %}
	{% disqus_num_replies %}
{% endblock %}

