<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="{{ LANGUAGE_CODE }}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="bg" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Venelin Stoykov">
	<meta name="google-site-verification" content="HEaaQ5lv83-FYJUz9g5WuIUjISZZSrCs6fcOkAa5__8">
	<meta name="google-translate-customization" content="b257c51f08a62a8b-88abd832c2f67adf-g9d96410b7541075b-11">
	<meta name="robots" content="all">
	<title>Грешка | Венелин Стойков</title>

	<link rel="shortcut icon" href="/static/favicon.ico">
	<script type="text/javascript" src="/static/js/modernizr.custom.07045.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,cyrillic,cyrillic-ext" media="all">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all">
</head>
<body>
	<header class="gradient">
		<div class="wrapper">
			<form action="/search/" class="search"><input type="text" name="q" placeholder="Въведи ключова дума"><button type="submit">Търси</button></form>
			<div id="google_translate_element"></div>
			<a href="/" class="site-logo" title="Venelin Stoykov"><img src="/static/img/logo.png" alt="Venelin Stoykov"></a>
			<nav id="main-menu">
				<ul>
					<li><a href="/"><span class="icon-home"></span></a></li>
					<li><a href="/blog/">Статии</a></li>
					<li><a href="/gallery/">Галерия</a></li>
					<li><a href="/links/">Връзки</a></li>
					<li><a href="/about/">За Мен</a></li>
					<li><a href="/contacts/">Контакти</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper">
		{% block body %}
			<div class="row-wrapper">
				<section class="content">
					<header>
						<nav class="breadcrumb">
							<ul><li><a href="/">Начало</a></li></ul>
						</nav>
						<h1>Грешка 500</h1>
					</header>
					<hr class="clearfix"/>
					<h2>Нещо се обърка и страницата не може да бъде показана.</h2>
					<p> Ако искате може да пишете на <a href="mailto:doommaster@email.bg">doommaster@email.bg</a> за проблема. Или да продължите да разглеждате сайта. </p>
				</section>
				<aside class="sidebar">
					{% block sidebar %}
						<section class="box">
							<header>Любим цитат</header>
							<p><q>Поражение не съществува, докато човек не се признае за победен!</q></p>
						</section>
						<section class="box">
							<header>Facebook Badge</header>
							<!-- Facebook Badge START -->
							<p class="center">
								<a href="http://bg-bg.facebook.com/vstoykov" target="_TOP" title="инж. В.Стойков"><img src="http://badge.facebook.com/badge/1489354320.122.791619019.png" alt="Facebook Badge" width="120" style="border: 0px;"></a>
							</p>
							<!-- Facebook Badge END -->
						</section>
					{% endblock %}
				</aside>
			</div>
		{% endblock %}
	</div>
	<footer>
		<div class="wrapper">
			<p class="django-powered"><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django."></a></p>
			<p>Уеб дизайн и разработка <a href="/about/">Венелин Стойков</a></p>
		</div>
	</footer>
</body>
</html>