<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="bg-BG" xml:lang="bg-BG" xmlns="http://www.w3.org/1999/xhtml">
<head>{% load staticfiles %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Venelin Stoykov"/>
    <meta name="google-site-verification" content="HEaaQ5lv83-FYJUz9g5WuIUjISZZSrCs6fcOkAa5__8" />
    <meta name="google-translate-customization" content="b257c51f08a62a8b-88abd832c2f67adf-g9d96410b7541075b-11" />
	<title>{% block title %}Венелин Стойков{% endblock %}</title>
	{% block seo_tags %}{% endblock %}
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
	<link rel="alternate" type="application/rss+xml" title="Последни статии от блога на Венелин Стойков" href="{% url 'blog_feed' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all"/>
	{% block css %}{% endblock %}
	{% if debug %}
	<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.7.2.min.js' %}"></script>
	{% else %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
	{% endif %}
	{% block js %}{% endblock %}
	{% block extra_head %}{% endblock %}
	{% block ga %}
	{% if not debug %}
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22285007-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	{% endif %}
	{% endblock %}
</head>
<body>
	<div id="header" class="shadow">
		<div id="header_logo"><h1>Сайтът на Венелин Стойков</h1></div>
		<div id="google_translate_element"></div>
		<div id="main_menu">
			<ul>
				{% with request.META.PATH_INFO as PATH_INFO %}
					<li {% if "/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/"><span>Начало</span></a></li>
					<li {% if "/blog/" in PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/blog/"><span>Статии</span></a></li>
					<li {% if "/gallery/" in PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/gallery/"><span>Галерия</span></a></li>
					<li {% if "/links/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/links/"><span>Връзки</span></a></li>
					<li {% if "/about/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/about/"><span>За Мен</span></a></li>
					<li {% if "/contacts/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/contacts/"><span>Контакти</span></a></li>
				{% endwith %}
			</ul>
		</div>
	</div>

	<div id="body">
		<div class="left_column">
			{% block left_column %}
				<div class="article">
					<h2 class="header">Любим цитат</h2>
                    <p><q>Поражение не съществува, докато човек не се признае за победен!</q></p>
				</div>
				{% comment %}
				<div class="article">
					<h2 class="header">Ubuntu</h2>
					{# <p class="center"><a href="http://ubuntucounter.geekosophical.net" title="The Ubuntu Counter Project - user number # 23784"><img src="http://ubuntucounter.geekosophical.net/img/ubuntu-user2.php?user=23784" alt="The Ubuntu Counter Project - user number # 23784" width="120" /></a></p> #}
                    <p class="center"><a href="http://www.ubuntu.com/" rel="nofollow"><img alt="Ubuntu 12.04 is here" border="0" height="120" src="http://www.ubuntu.com/countdown/banner.png" width="120" /></a></p>
				</div>
				{% endcomment %}
				<div class="article">
					<h2 class="header">Facebook Badge</h2>
					<!-- Facebook Badge START -->
					<p class="center">
					 <a href="http://bg-bg.facebook.com/vstoykov" target="_TOP" title="инж. В.Стойков"><img src="http://badge.facebook.com/badge/1489354320.122.791619019.png" alt="Facebook Badge" width="120" style="border: 0px;" /></a>
					</p>
					<!-- Facebook Badge END -->
				</div>
			{% endblock %}
		</div>
		<div class="main_content">
			{% block main_content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<p class="django-powered"><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a></p>
        <p><a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10-blue.png" alt="Valid XHTML 1.0 Transitional" height="25" width="80" /></a></p>
		<p>Уеб дизайн и разработка <a href="/about/">Венелин Стойков</a></p>
	</div>
	{% block extra_js %}{% endblock %}
	<script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'bg', includedLanguages: 'en,bg', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-22285007-1'}, 'google_translate_element');
		}
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
