<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="{{ LANGUAGE_CODE }}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ LANGUAGE_CODE }}" class="no-js"> <!--<![endif]-->
<head>{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Venelin Stoykov">
	<meta name="google-site-verification" content="HEaaQ5lv83-FYJUz9g5WuIUjISZZSrCs6fcOkAa5__8">
	<meta name="google-translate-customization" content="b257c51f08a62a8b-88abd832c2f67adf-g9d96410b7541075b-11">
	<meta name="robots" content="all">
	<title>{% block title %}Венелин Стойков{% endblock %}</title>
	{% block seo_tags %}{% endblock %}
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<link rel="alternate" type="application/rss+xml" title="Последни статии от блога на Венелин Стойков" href="{% url 'blog:feed' %}">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic-ext,cyrillic' >
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all">
	{% block css %}{% endblock %}
	<script type="text/javascript" src="{% static 'js/modernizr.custom.07045.js' %}"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	{% block extra_head %}{% endblock %}
	<!--[if gte IE 9]>
	<style type="text/css">
		.gradient { filter: none; }
	</style>
	<![endif]-->
	{% block ga %}
		{% if GOOGLE_ANALYTICS_CODE %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', '{{ GOOGLE_ANALYTICS_CODE }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
		  ga('require', 'displayfeatures');
		  ga('send', 'pageview');
		</script>
		{% endif %}
	{% endblock %}
</head>
<body>
	<header class="gradient">
		<div class="wrapper">
			<form action="/search/" class="search"><input type="text" name="q" value="{{ request.GET.q }}" placeholder="Въведи ключова дума"><button type="submit">Търси</button></form>
			<div id="google_translate_element"></div>
			<a href="/" class="site-logo" title="Venelin Stoykov"><img src="{% static 'img/logo.png' %}" alt="Venelin Stoykov"></a>
			<nav id="main-menu">
				<ul>
					<li><a href="/"><span class="icon-home"></span></a></li>
					<li {% if "/blog/" in request.path %}class="current"{% endif %}><a href="/blog/">Статии</a></li>
					<li {% if "/gallery/" in request.path %}class="current"{% endif %}><a href="/gallery/">Галерия</a></li>
					<li {% if "/links/" == request.path %}class="current"{% endif %}><a href="/links/">Връзки</a></li>
					<li {% if "/about/" == request.path %}class="current"{% endif %}><a href="/about/">За Мен</a></li>
					<li {% if "/contacts/" == request.path %}class="current"{% endif %}><a href="/contacts/">Контакти</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper">
		{% block body %}
			<div class="row-wrapper">
				<section class="content">
					{% block content %}
					<header>
						{% block header %}
							<nav class="breadcrumb">
								<ul>
									{% block breadcrumb %}<li><a href="/">Начало</a></li>{% endblock %}
								</ul>
							</nav>
						{% endblock %}
					</header>
					<hr class="clearfix"/>
					{% endblock %}
				</section>
				<aside class="sidebar">
					{% block sidebar %}
						<section class="box">
							<header>Любим цитат</header>
							<p><q>Поражение не съществува, докато човек не се признае за победен!</q></p>
						</section>
						{% comment %}
						<div class="article">
							<h2 class="header">Ubuntu</h2>
							{# <p class="center"><a href="http://ubuntucounter.geekosophical.net" title="The Ubuntu Counter Project - user number # 23784"><img src="http://ubuntucounter.geekosophical.net/img/ubuntu-user2.php?user=23784" alt="The Ubuntu Counter Project - user number # 23784" width="120"></a></p> #}
							<p class="center"><a href="http://www.ubuntu.com/" rel="nofollow"><img alt="Ubuntu 12.04 is here" border="0" height="120" src="http://www.ubuntu.com/countdown/banner.png" width="120"></a></p>
						</div>
						{% endcomment %}
						<section class="box">
							<header>Facebook Badge</header>
							<!-- Facebook Badge START -->
							<p class="center">
								<a href="https://bg-bg.facebook.com/vstoykov" target="_TOP" title="инж. В.Стойков"><img src="https://badge.facebook.com/badge/1489354320.122.791619019.png" alt="Facebook Badge" width="120" style="border: 0px;"></a>
							</p>
							<!-- Facebook Badge END -->
						</section>
					{% endblock %}
				</aside>
			</div>
		{% endblock %}
	</div>
	<footer>
		<div class="wrapper">
			<p class="django-powered"><a href="https://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django."></a></p>
			<p>Уеб дизайн и разработка <a href="/about/">Венелин Стойков</a></p>
		</div>
	</footer>
	{% block js %}{% endblock %}
	{% block extra_js %}{% endblock %}
	<!--[if (gt IE 9)|!(IE)]><!--> 
	<script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'bg', includedLanguages: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-22285007-1'}, 'google_translate_element');
		}
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<!--<![endif]-->
</body>
</html>
