{% extends "base.html" %}
{% load blog_tags %}


{% block extra_head %}
	<meta name="keywords" content="Венелин, Стойков, Linux, Pytohn, Django, IT, Ubuntu"/>
	<meta name="description" content="Личната интернет страница на Венелин Стойков. Това е място където ще записвам различни интересни неща в сферата на IT областа и по-конкретно за Linux, Python и Django"/>
	{{block.super}}
{% endblock %}

{% block main_content %}
<div id="home">
	<div class="article">
		<h2 class="header">Начало</h2>
		<div class="content">
			<h3>Добре дошли в новата ми страница</h3>
			<p class="text">Това е място където ще записвам различни интересни неща в сферата на IT областа и по-конкретно с работата ми, и интересите ми,
			проблеми с които съм се срещнал и как съм ги решил. Един малък дневник за неща, за които не трябва всеки път да се открива "топлата вода".
			Главно ще се говори за Linux и <a href="http://www.python.org/" target="_blank" rel="nofollow">Python</a> и по-конретно <a href="http://www.djangoproject.com/" rel="nofollow" target="_blank">Django</a>. Тук също може да се намери <a href="/about/">информация за самият мен</a>, както и <a href="/contacts/">контакти за връзка</a>.</p>
			<p class="text">Идеята на този сайт беше за упражение, но в крайна сметка може да намери приложение.</p>
		</div>
	</div>
	<div class="article">
		<h2 class="header">Последни статии</h2>
		<div class="content">
			{% latest_entries 3 %}
		</div>
	</div>
</div>
{% endblock %}
