{% extends "base.html" %}

{% block title %}Търсене | {{ block.super }}{% endblock %}

{% block seo_tags %}
	<meta name="robots" content="noindex, follow">
{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a href="{{ request.path }}">Търсене</a>
{% endblock %}


{% block content %}
	{{ block.super }}
	<script>
	  (function() {
		var cx = '012985831120773874719:wvvlzlk1fui';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			'//www.google.com/cse/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:searchresults-only></gcse:searchresults-only>
{% endblock %}
