{% extends "base.html" %}

{% block title %}Галерия | {{ block.super }}{% endblock %}

{% block seo_tags %}
	<meta name="keywords" content="Венелин, Стойков, Галерия, Снимки, венелин, стойков, галерия, снимки"/>
	<meta name="description" content="{% if gallery %}Галерия {{ gallery.title }}{% else %}Списък с галерии{% endif %} на Венелин Стойков"/>
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript">
		$(function(){ $(".gallery li img").addClass('shadow'); });
	</script>
{% endblock %}

{% block main_content %}
	<div id="gallery">
		<div class="article">
			<h2 class="header">Галерия {% if gallery %} &gt; {{ gallery.title }}{% endif %}</h2>
			<div class="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
