<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="bg-BG" xml:lang="bg-BG" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="author" content="Venelin Stoykov">
  <title>{% block title %}Венелин Стойков{% endblock %}</title>
  <link rel="shortcut icon" href="{{MEDIA_URL}}favicon.png"/>
  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.lightbox-0.5.css" media="all" />
  <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script-->
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.min.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div id="header">
      <div id="header_logo"><h1>Личната страница на Венелин Стойков</h1></div>
      <div id="main_menu">
          <ul>
            {% with request.META.PATH_INFO as PATH_INFO %}
              <li {% if "/home/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/home/"><span>Начало</span></a></li>
              <li {% if "/blog/" in PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/blog/"><span>Блог</span></a></li>
              <li {% if "/gallery/" in PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/gallery/"><span>Галерия</span></a></li>
              <li {% if "/links/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/links/"><span>Връзки</span></a></li>
              <li {% if "/about/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/about/"><span>За Мен</span></a></li>
              <li {% if "/contacts/" == PATH_INFO %}class="ui-tabs-selected"{% endif %}><a href="/contacts/"><span>Контакти</span></a></li>
            {% endwith %}
          </ul>
      </div>
  </div>

  <div id="body">
      <div class="left_column">
        {% block left_column %}
          <div class="article">
              <h2 class="header">Любим цитат</h2>
                <p class="text">Поражение не съществува, докато човек не се признае за победен!</p>
          </div>
          <div class="article">
              <h2 class="header">Ubuntu User</h2>
              <p class="center"><a href="http://ubuntucounter.geekosophical.net" title="The Ubuntu Counter Project - user number # 23784"><img src="http://ubuntucounter.geekosophical.net/img/ubuntu-user2.php?user=23784" alt="The Ubuntu Counter Project - user number # 23784" width="88" height="31" /></a></p>
          </div>
          <div class="article">
              <h2 class="header">Facebook Badge</h2>
              <!-- Facebook Badge START -->
              <p class="center">
               <a href="http://bg-bg.facebook.com/vstoykov" target="_TOP" title="инж. В.Стойков"><img src="http://badge.facebook.com/badge/1489354320.122.791619019.png" alt="Facebook Badge" width="120" height="257" style="border: 0px;" /></a>
              </p>
              <!-- Facebook Badge END -->
          </div>
        {% endblock %}
      </div>
      <div class="main_content">
        {% block main_content %}{% endblock %}
      </div>
  </div>
  <div id="footer">
      <p>Последна актуализация Април 2011 г. &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;<i>Минимална резолюция 1024х768рх</i></p>
      {% if debug %}
        <!--pre style="text-align: left;">
            {% debug %}
        </pre-->
    {% endif %}
  </div>
</body>
</html>
