{% extends "base.html" %}

{% block title %}{% if gallery %}{{gallery.title}} | {% endif %}Галерия | {{block.super}}{% endblock %}

{% block extra_head %}
	<meta name="keywords" content="Венелин, Стойков, Галерия, Снимки, венелин, стойков, галерия, снимки"/>
    <meta name="description" content="{% if gallery %}Галерия {{gallery.title}}{% else %}Списък с галерии{% endif %} на Венелин Стойков"/>
	{{block.super}}
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.lightbox-0.5.min.js"></script>
	<!--script type="text/javascript" src="{{MEDIA_URL}}js/gallery.js"></script-->
	<script type="text/javascript">
		$(function() {
			$("#gallery_list a").lightBox();
            $(".gallery li img").addClass('shadow');
		});
		function test_ajax() {
			$.getJSON(location.href, function(data) {
			  console.log(data)
			});
		}
	</script>
    <script type="text/javascript">
      window.___gcfg = {lang: 'bg'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
{% endblock %}
{% block main_content %}
  <div id="gallery">
	<div class="article">
	  <h2 class="header">Галерия {% if gallery %} &gt; {{gallery.title}}{% endif %}</h2>
	  <div class="content">
		  {% if gallery %}
			  <a href="{% url galleries %}">Виж всички галерии</a>
              <div class="g-plusone-holder"><div class="g-plusone"></div></div>
              <hr class="clearfix"/>
				<dir id="gallery_list" class="gallery">
					{% for picture in gallery.pictures.all %}
						<li>
							<a href="{{picture.image.url}}">
								<span class="thumb-holder"><img src="{{picture.thumb.url}}" width="{{picture.thumb.width}}" height="{{picture.thumb.height}}" alt="{{picture.title}}" title="{{picture.title}}" /></span>
								<!--p>{{picture.title}}</p-->
							</a>
						</li>
					{% empty %}
						<li>Няма качени снимки<li>
					{% endfor %}
				</dir>
			  <hr/><a href="{% url galleries %}">Виж всички галерии</a>
		  {% else %}
			<dir class="gallery">
				{% for gallery in galleries %}
					<li>
						<a href="{% url gallery gallery.slug %}" name="{{gallery.slug}}">
							<span class="thumb-holder"><img src="{{gallery.get_thumbnail}}" alt="{{gallery.title}}" /></span>
							<span>{{gallery.title}}</span>
						</a>
					</li>
				{% empty %}
					<li>Няма галерии</li>
				{% endfor %}
			</dir>
		  {% endif %}
	  </div>
	</div>
  </div>
{% endblock %}
