{% extends "base.html" %}

{% block extra_head %}
	<meta name="keywords" content="Венелин, Стойков"/>
	<meta name="description" content="Личната интернет страница на Венелин Стойков"/>
	{{block.super}}
{% endblock %}

{% block main_content %}
<div id="home">
	<div class="article">
		<h2 class="header">Начало</h2>
		<div class="content">
			<h3>Добре дошли в новата ми страница</h3>
			<p class="text">Това е място където ще записвам различни интересни неща в сферата на IT областа и по-конкретно с работата ми, и интересите ми.
			Проблеми с които съм се срещнал и как съм ги решил. Един малък дневник за неща, за които не трябва всеки път да се открива "топлата вода".
			Главно ще се говори за Linux и Python и по-конретно <a href="http://www.djangoproject.com/">Django</a>. Тук също може да се намери <a href="/about/">информация за самият мен</a>, както и <a href="/contacts/">контакти за връзка</a>.</p>
			<p class="text">Идеята на този сайт беше за упражение, но в крайна сметка може да намери приложение.</p>
		</div>
	</div>
	<div class="article">
		<h2 class="header">Последни статии</h2>
		<div class="content">
			<dl class="blog">
			{% for entry in latest %}
				<dt><a href="{% url my_blog_entry entry.category.slug entry.slug %}">{{entry.title}}</a></dt>
				<dd>{{entry.content|safe|truncatewords_html:50}}</dd>
			{% empty %}
				<dt>Няма статии</dt><dd></dd>
			{% endfor %}
			</dl>
			{% if show_more_link %}
				<p><a href="/blog/">Oще статии...</a></p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
